/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
  max-width: 150px;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "interstate_mono";
  src: url("font/interstate_mono_-_lgt-webfont.eot") format("embedded-opentype"), url("font/interstate_mono_-_lgt-webfont.ttf") format("truetype"), url("///fonts/interstate_mono_-_lgt-webfont.woff") format("woff"), url("///fonts/interstate_mono_-_lgt-webfont.svg#interstate_mono_-_lgtregular") format("svg");
}

@font-face {
  font-family: 'droid_sansregular';
  src: url("droidsans-webfont.eot");
  src: url("droidsans-webfont.eot?#iefix") format("embedded-opentype"), url("droidsans-webfont.woff") format("woff"), url("droidsans-webfont.ttf") format("truetype"), url("droidsans-webfont.svg#droid_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid_sans';
  src: url("font/droidsans-bold-webfont.eot");
  src: url("font/droidsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("font/droidsans-bold-webfont.woff") format("woff"), url("font/droidsans-bold-webfont.ttf") format("truetype"), url("font/droidsans-bold-webfont.svg#droid_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 39, D:/Sites/backoffice/code/sass/style.scss */
a {
  text-decoration: none;
  color: #f5a503;
  font-family: droid_sans;
}

/* line 44, D:/Sites/backoffice/code/sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 48, D:/Sites/backoffice/code/sass/style.scss */
.clear {
  clear: both;
}

/* line 50, D:/Sites/backoffice/code/sass/style.scss */
#conteneur {
  background: url(../img/bg.jpg);
}

/* line 54, D:/Sites/backoffice/code/sass/style.scss */
header {
  padding: 7px 40px 7px 40px;
  background: url(../img/headerPattern.png);
  -webkit-box-shadow: black 0px 3px 10px;
  -moz-box-shadow: black 0px 3px 10px;
  box-shadow: black 0px 3px 10px;
  font-family: interstate_mono;
  z-index: 9999;
}

/* line 61, D:/Sites/backoffice/code/sass/style.scss */
.bienvenue {
  vertical-align: super;
  color: #ffffff;
}

/* line 66, D:/Sites/backoffice/code/sass/style.scss */
.HRight {
  position: absolute;
  top: 10px;
  right: 40px;
}

/* line 72, D:/Sites/backoffice/code/sass/style.scss */
menu {
  width: 20%;
  float: left;
  background: rgba(58, 58, 58, 0.8);
  padding: 30px 0px;
  min-height: 800px;
  -webkit-box-shadow: black 3px 1px 10px;
  -moz-box-shadow: black 3px 1px 10px;
  box-shadow: black 3px 1px 10px;
}

/* line 80, D:/Sites/backoffice/code/sass/style.scss */
menu h3 {
  cursor: pointer;
  color: #ddcbca;
  font-family: droid_sans;
  font-size: 1.1em;
  padding: 15px 5px 15px 20px;
  background-image: linear-gradient(#3f4c6b, #3f4c6b);
  background-image: -webkit-linear-gradient(#3f4c6b, #3f4c6b);
	background-image:    -moz-linear-gradient(#3f4c6b, #3f4c6b);
	background-image:     -ms-linear-gradient(#3f4c6b, #3f4c6b);
	background-image:      -o-linear-gradient(#3f4c6b, #3f4c6b);
	background-image:         linear-gradient(#3f4c6b, #3f4c6b);

  border: 1px solid #6e7c9d;
  border-bottom: none;
}

/* line 90, D:/Sites/backoffice/code/sass/style.scss */
menu h3.sub:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 7px;
  margin-right: 5px;
  padding-bottom: 3px;
  background: url(../img/h1.png) no-repeat;
}

/* line 99, D:/Sites/backoffice/code/sass/style.scss */


/* line 102, D:/Sites/backoffice/code/sass/style.scss */
menu h3.bt {
  
  border-bottom: 1px solid #6e7c9d;
}

/* line 106, D:/Sites/backoffice/code/sass/style.scss */
menu ul li {
  margin: 5px 0px;
}

/* line 109, D:/Sites/backoffice/code/sass/style.scss */
menu ul li a {
  margin: 5px 0px 5px 35px;
  color: #21c4ff;
  font-family: interstate_mono;
  font-size: 0.9em;
}

/* line 115, D:/Sites/backoffice/code/sass/style.scss */
menu ul li a:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 7px;
  margin-right: 5px;
  padding-bottom: 3px;
  background: url(../img/sub.png) no-repeat;
}

/* line 124, D:/Sites/backoffice/code/sass/style.scss */
menu ul li a:hover {
  margin-left: 45px;
  text-decoration: none;
}

/* line 127, D:/Sites/backoffice/code/sass/style.scss */
#corps {
  width: 80%;
  float: left;
  display: inline-block;
  min-height: 8px;
}

/* line 133, D:/Sites/backoffice/code/sass/style.scss */
#params {
  position: absolute;
  top: 100px;
  right: 0px;
  background: #f2385a;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  border: #f2385a 1px solid;
  width: 45px;
  height: 45px;
  z-index: 555;
  -webkit-box-shadow: #242120 2px 2px 5px;
  -moz-box-shadow: #242120 2px 2px 5px;
  box-shadow: #242120 2px 2px 5px;
}

/* line 146, D:/Sites/backoffice/code/sass/style.scss */
#params img#gear {
  padding: 11px;
  cursor: pointer;
}

/* line 149, D:/Sites/backoffice/code/sass/style.scss */
#params p {
  position: fixed;
  right: -25;
  top: 48px;
  width: 0px;
  z-index: 555;
  color: white;
  font-family: interstate_mono;
  background: gray;
  min-height: 800px;
  padding: 10px;
  -webkit-box-shadow: #242120 -5px 0px 10px;
  -moz-box-shadow: #242120 -5px 0px 10px;
  box-shadow: #242120 -5px 0px 10px;
}
#params p .paramTitle{
  display: block;
  margin: 7px 0px 5px 0px;
}
#params p img{
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* line 162, D:/Sites/backoffice/code/sass/style.scss */
#all {
  width: 90%;
  margin: 30px auto;
  color: #3a3a3a;
}

/* line 167, D:/Sites/backoffice/code/sass/style.scss */
#bridge {
  width: 90%;
  margin: 30px auto;
}

/* line 171, D:/Sites/backoffice/code/sass/style.scss */
#all h1, #leftSide h1, #rightSide h1 {
  cursor: pointer;
  border: 3px #3a3a3a solid;
  background: #3a3a3a url(../img/h1corps.png) no-repeat;
  background-position: right;
  color: #e2e2e2;
  font-family: droid_sans;
  font-size: 1.1em;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  padding: 5px 20px;
}

/* line 182, D:/Sites/backoffice/code/sass/style.scss */
#all .para, #leftSide .para, #rightSide .para{
  background: #e2e2e2;
  padding: 15px;
  -webkit-box-shadow: #242120 5px 5px 10px;
  -moz-box-shadow: #242120 5px 5px 10px;
  box-shadow: #242120 5px 5px 10px;
}

/* line 187, D:/Sites/backoffice/code/sass/style.scss */
#leftSide {
  margin-right: 2%;
}

/* line 190, D:/Sites/backoffice/code/sass/style.scss */
#leftSide, #rightSide {
  float: left;
  width: 49%;
  color: #3a3a3a;
}
table.tab{
  width: 100%;
}
table.tab th, table.tab td{
  padding: 3px 0px;
  border-bottom: 1px solid #36b1bf;
}
table.tab th{
  font-family: droid_sansregular, sans-serif;
  font-weight: bold;
}
table.tab td{
  font-family: interstate_mono, serif;
  font-size: 1.1em;
  color: #303030;
}
.pager{
  margin-top: 10px;
  text-align: right;
}
.pager span{
  display: inline-block;
}
.pager span a, .pager a{
  background: #f1f1f1;
  color: #f2385a;
  font-family: interstate_mono;
  width: 100px;
  height: 30px;
  border: 1px solid #36b1bf;
  padding: 2px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.paginator li a.active{
  background: #f1f1f1;
  color: #f2385a;
  border: 1px solid #f2385a;
}
.ico{
  display: inline-block;
  margin-right: 5px;
  width: 90px;
  padding: 5px 3px;
  border: 3px solid #9fb2c3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: interstate_mono;
  font-size: 1.3em;
}
.ico p{
  color: #6a6a6a;
  margin-top: 5px;
  font-size: 0.7em;
}
.ico img{
  max-height: 70px;
}
.input{
  margin: 5px 0px;
  font-family: interstate_mono;
}
.input label{
  vertical-align: top;
  float: left;
  clear: left;
  margin-left: 20px;
  width: 130px;
}
.input input, .input textarea{
  width: 300px;
  height: 30px;
}
.input input, .input textarea, .input button{
  margin-right: 100px;
}
.input textarea{
  height: 100px;
}

