<!DOCTYPE html> 
<html> 
	<head> 
	<title>Login</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="styles/jquery.mobile.css" />
	<script src="styles/jquery-1.7.1.min.js"></script>
	<script src="styles/custom.js"></script>
	<script src="styles/jquery.mobile.js"></script>
</head> 
<body>
	
	
	<div data-role="dialog" id="dialog" data-back-btn-theme="b" data-close-btn-text="(: Fermer :)">

			<div data-role="header">
					<h1>A propos de nous</h1>
			</div><!-- /header -->

			<div data-role="content" class="motif">     
				<p>Cette application entre dans le cadre du moduleProjet Distribu&eacute;,encadr&eacute;e par Monsieur ELKKALY Abderafiaa,et r&eacute;alis&eacute;e par le groupe:</P>
				<ul>
				<li><b>Chef du projet:</b>Bruno Fiston RUKUNDO</li>
				<li><b>Chef de developpement:</b>EL IDRISSI Fatimazahra</li>
				<li><b>Chef de developpement:</b>JAABA Ibtissam</li>
				<li><b>Chef de developpement:</b>CHEIKH Mohammadou</li>
				<li><b>Chef de commmunication:</b>CUYESSE Ranya</li>
				<li><b>Chef de livrable:</b>QUASSIMI Sara</li>
				</ul>
				<label><b>Email :</b>groupe1irisiprojetintranet@gmail.com</label>
					
			</div><!-- /content -->

			<div data-role="footer">
					<h4>&copy; E-Shop 2013</h4> 
			</div><!-- /footer -->
	</div><!-- /Boite de dialogue -->
</body>
</html>