<!DOCTYPE HTML>
<html>
<head>


  <head>
    <meta charset="utf-8">
    <!-- DNS prefetch -->
    <link rel=dns-prefetch href="//fonts.googleapis.com">
    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
    More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>Gestion des Produits </title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory:
    mathiasbynens.be/notes/touch-icons -->
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/960gs/fluid.css"> <!-- 960.gs Grid System -->
    <!-- The HTML5-Boilerplate CSS styling -->
    <link rel="stylesheet" href="css/h5bp/normalize.css">
         <!-- RECOMMENDED: H5BP reset styles -->
    <link rel="stylesheet" href="css/h5bp/non-semantic.helper.classes.css"> <!-- RECOMMENDED: H5BP helpers (e.g. .clear or .hidden) -->
    <link rel="stylesheet" href="css/h5bp/print.styles.css"> <!-- OPTIONAL: H5BP print styles -->
    <!-- The main styling -->
    <link rel="stylesheet" href="css/sprites.css"> <!-- STRONGLY RECOMMENDED: Basic sprites (e.g. buttons, jGrowl) -->
    <link rel="stylesheet" href="css/header.css"> <!-- REQUIRED: Header styling -->
    <link rel="stylesheet" href="css/navigation.css"> <!-- REQUIRED: Navigation styling -->
    <link rel="stylesheet" href="css/content.css"> <!-- REQUIRED: Content styling -->
    <link rel="stylesheet" href="css/footer.css"> <!-- REQUIRED: Footer styling -->
    <link rel="stylesheet" href="css/typographics.css"> <!-- REQUIRED: Typographics -->
    <link rel="stylesheet" href="css/ie.fixes.css"> <!-- OPTIONAL: Fixes for IE7 -->
    <!-- Sprites styling -->
    <link rel="stylesheet" href="css/sprite.forms.css"> <!-- SPRITE: Forms styling -->
    <link rel="stylesheet" href="css/sprite.tables.css"> <!-- SPRITE: Tables styling -->
    
    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
    
    <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
    Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5
    elements & feature detects;
    for optimal performance, create your own custom Modernizr build:
    www.modernizr.com/download/ -->
    <link href="css/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <script src="js/jquery-1.9.1.js"></script>
  <script src="js/jquery-ui-1.10.3.custom.js"></script>
  <script defer>          
     
 $(function(){

 $(".test").dialog({
    autoOpen: false, 
    height: 550,
    width : 550,
    hidden : false,
    resizable : false
   });
    $(".open_det").click(function(){
    var id = $(this).attr("id");
     $(".test").each(function(){
  if( this.id == id)
 $(this).dialog("open");
 });
    
     });
 });
 
 //=======================================================================
//=================== script de modification ============================
//=======================================================================
$(function(){
  $("#dialog").dialog({
    autoOpen: false, 
    height: 680,
    width : 800,
    resizable : false
  });
})

$(function(){
  $("#dialog_rep").dialog({
    autoOpen: false, 
    height: 550,
    width : 550,
    resizable : false
   });
   
  $(".open_rep").click(function(){
  
    var id = $(this).attr("id");
    var id_email = $("#"+id+" .email3").text();
    var id_obj = $("#"+id+" .objet3").text();


    $("#id3").val(id);
    $("#email3").val(id_email);
    $("#objet3").val(id_obj);
    
    
    $("#dialog_rep").dialog("open");
  });
      
     });


      window.onload = function () {
          var chart1= new CanvasJS.Chart("chartContainer1", {
              theme: "theme1",//theme1
              title:{
                  text: "Representation des Ventes par Rapport aux Sexes"              
             },
              data: [              
              {
// Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                  type: "stackedColumn",
                  dataPoints: [
                  { label: "Femme", y: {$NoFemme} },
                  { label: "Homme", y: {$Nbhomme} },
                  
                  ]
              }
              ]
          });
          var chart2 = new CanvasJS.Chart("chartContainer2", {
              theme: "theme2",//theme1
              title:{
                  text: "Statistique des Commandes vendus et en Attante"              
             },
              data: [
              {
// Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                  type: "pie",
                  dataPoints: [
                  { label: "vendue", y: {$NbComVen} },
                  { label: "en attente", y: {$NbComEat} },
                  
                  ]
              }
              ]
          });

          chart1.render();
          chart2.render();
      }

      $(function(){
  $("#dialog_rep").dialog({
    autoOpen: false, 
    height: 550,
    width : 550,
    resizable : false
   });
   
  $(".open_rep").click(function(){
  
    var id = $(this).attr("id");
    var id_email = $("#"+id+" .email3").text();
    var id_obj = $("#"+id+" .objet3").text();


    $("#id3").val(id);
    $("#email3").val(id_email);
    $("#objet3").val(id_obj);
    
    
    $("#dialog_rep").dialog("open");
  });
      
     });
  </script>
  <script type="text/javascript" src="js/canvasjs.min.js"></script>
</head>
<body>
  <div id="height-wrapper">
      <!-- Begin of header -->
      <header>
        <!-- Begin of the header toolbar -->
        <div id="header_toolbar">
          <div class="container_12">
            <h1 class="grid_8">E-Shop Espace Admin</h1>
            <!-- Start of right part -->
            <div class="grid_4">
              <!-- A small toolbar button -->
              <div class="toolbar_small">
             <div class="toolbutton">
                  <span>{$nbreMessage}</span>
                  <img src="img/icons/16x16/mail.png" width="16" height="16" alt="mail" >
                </div>
                <div class="toolbox" >
                  <span class="arrow"></span>
                  <h3>Your Messages</h3>
                  <ul class="mail">
                    {foreach $messages as $message}
                    <li id="{$message['id']}">
                      <a href="#?&id={$message['id']}" class="open_rep" id="{$message['id']}">
                      <strong>{$message['temps']}</strong>
                        <span class="objet3">{$message['objet']}</span>
                      <small class="email3">
                        From: {$message['email']}
                      </small></a>                      
                    </li>                   
                    {/foreach}
                  </ul>
                  <a class="inbox" href="contact.php">Go to inbox &raquo;</a>
                </div>
              </div> <!-- End of small toolbar button -->
              
              <!-- A large toolbar button -->
              <div class="toolbar_large">
                <div class="toolbutton">
                  <div class="toolicon">
                    <img src="img/icons/16x16/user.png" width="16" height="16" alt="user" >
                  </div>
                  <div class="toolmenu">
                    <div class="toolcaption">
                      <span>welcome   :{$user}</span>
                    </div>
                    <!-- Start of menu -->
                    <div class="dropdown">
                      <ul>
                        <li>
                          <a href="#">Settings</a>
                        </li>
                        <li>
                          <a href="logout.php">Logout</a>
                        </li>
                      </ul>
                    </div> <!-- End of menu -->
                  </div>
                </div>
              </div> <!-- End of large toolbar button -->
            </div>
            <!-- End of right part -->
          </div>
        </div>
        <!-- End of the header toolbar -->
        
        <!-- Start of the main header bar -->
        <nav id="header_main">
          <div class="container_12">
            <!-- Start of the main navigation -->
            <ul id="nav_main">
              <li class="current">
                <a href="index.php">
                <img src="img/icons/25x25/dark/computer-imac.png" width=25 height=25>
                Accueil</a>               
              </li>
              <li >
                <a href="produit.php">
                <img src="img/icons/25x25/dark/blocks---images.png" width=25 height=25>
                Produit</a>
                <ul>
                  <li>
                    <a href="forms.html">Mise à jour</a>
                  </li>
                  <li>
                    <a href="gallery.html">Imprimer</a>
                  </li>
                  <li class="current">
                    <a href="#" class="open_aj">Ajouter Produit</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="commande.php">
                <img src="img/icons/25x25/dark/robot.png" width=25 height=25 alt="">
                Commande</a>
                <ul>
                  <li>
                    <a href="">Transférer</a>
                  </li>
                  <li>
                    <a href="">Valider</a>
                  </li>
                  <li>
                    <a href="">Rejeter</a>
                  </li>                                   
                </ul>
              </li>
              <li>
                <a href="client.php">
                <img src="img/icons/25x25/dark/user-comment.png" width=25 height=25 alt="">
                Client</a>
                <ul>
                  <li><a href="gallery.html">Imprimer</a></li>
                  <li class="current"><a href="#" class="open_aj">Ajouter Client</a></li>
                </ul>
              </li>
              
              <li>
                <a href="fournisseur.php">
                <img src="img/icons/25x25/dark/robot.png" width=25 height=25 alt="">
                Fournisseur</a>
                <ul>
                  <li>
                    <a href="#" class="open_aj">Ajouter</a>
                  </li>
                  <li>
                    <a href="pdfinfoAllFournisseur.php">Imprimer</a>
                  </li>                                     
                </ul>
              </li>
              <li>
                <a href="contact.php">
                <img src="img/icons/25x25/dark/user-comment.png" width=25 height=25 alt="">
                Contact</a>
              </li>
            </ul>
            <!-- End of the main navigation -->
          </div>
        </nav>
       
      </header> 

  
  <div id="chartContainer1" style="height: 400px; width: 30%; float:left">
  </div>

  <div id="chartContainer2" style="height: 500px; width: 30%; float:left">
  </div>
  <div id="chartContainer3" style="height: 300px; width: 40%;">
  </div>


  <footer>
      <div class="container_12">
        Développé par E-shop/FIRSFO-2013.
      </div>
    </footer> <!-- End of footer-->
</body>
<style type="text/css">
  #chartContainer1{
    padding-left: 20px;
    padding-top: 20px;
  }

  #chartContainer2{
    padding-left: 20px;
    padding-top: 20px;
  }
/*
  #chartContainer3{
    padding-left: 20px;
    padding-top: 20px;
  }*/
</style>


    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="js/libs/jquery-ui-1.8.16.min.js"><\/script>')</script>
    
    <!-- scripts concatenated and minified via build script -->
    <script defer src="js/plugins.js"></script> <!-- REQUIRED: Different own jQuery plugnis -->
    <script defer src="js/mylibs/jquery.ba-resize.js"></script> <!-- RECOMMENDED when using sidebar: page resizing -->
    <script defer src="js/mylibs/jquery.easing.1.3.js"></script> <!-- RECOMMENDED: box animations -->
    <script defer src="js/mylibs/jquery.chosen.js"></script>
    <script defer src="js/mylibs/jquery.ui.touch-punch.js"></script> <!-- RECOMMENDED: touch compatibility -->
    <script defer src="js/mylibs/jquery.dataTables.js"></script>
    <script defer src="js/script.js"></script> <!-- REQUIRED: Generic scripts -->
</html>