<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>E-shop | Login page</title>
<meta http-equiv="Content-Language" content="en" />
<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
<link rel="stylesheet" href="./css/webstarter-login.css" type="text/css" media="screen" />
<script src="js/jquery-1.9.1.js"></script>
<script src="js/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript" src="./js/jquery.vAlign.js"></script>
<script type="text/javascript" src="./js/ws.login.init.js"></script>
<meta charset="UTF-8"></head>

<body>
<div id="bg">
	<div id="core">
		<div id="logo">
			<img src="./img/ws_login_logo.png" alt="Logo" />
		</div>
		<div id="box">
			<form name="loginForm" action="index.php" method="post">
				<div id="pleaseLogin">
					<div id="pleaseLoginLeft">e-Shop:</div>
					<div id="pleaseLoginRight">Please log in to continue</div>					
					<div class="clear"></div>
				</div>				
				<div class="space20"></div>
				<div id="emailField">
					<input type="text" name="username" value="" />
				</div>				
				<div class="space10"></div>
				<div id="passwordField">
					<input type="password" name="password" value="" />
				</div>
				
				<div class="space10"></div>
				<button type="submit"><img src="./img/ws_login_button.png" alt="Login" 
					title="Login" />
				</button>
				<!-- <input type="submit" style="display: none;" /> -->
				<!-- <div id="loginButton">
					<img type="submit" src="./img/ws_login_button.png" alt="Login" title="Login" />
				</div> -->
				<div id="forgottenPassword">
					<a href="#lostPassword">Lost your password?</a>
				</div>

				<div class="clear"></div>

				
			</form>
		</div><!-- END OF #box -->
	</div><!-- END OF #core -->
</div><!-- END OF #bg -->

</body>
</html>