<div data-role="popup" id="popupPanel" data-corners="true" data-theme="none" data-shadow="false" data-tolerance="0,0">
	<a href="deal.php" data-role="button" data-inline="true" data-theme="a" data-mini="true" data-icon="arrow-r" rel="external">Deal</a>
	<a href="currency_converter1.php" data-role="button" data-inline="true" data-theme="a" data-mini="true" data-icon="arrow-r" rel="external">Conversion de devise</a>
	<a href="reclamation.php" data-role="button" data-inline="true" data-theme="a" data-mini="true" data-icon="arrow-r" rel="external">Réclamation</a>
</div>