<div data-role="footer" data-position="fixed">		
	<div data-role="navbar" >
		
		<ul>
           <li><a href="about.php" data-icon="gear" >A propos</a></li>
           
		
		   <li><a href="connexion.php" data-icon="plus" >Connexion</a></li>
		 
			 
		  
		   
           <li><a href="contact.php" rel="external" data-icon="info">Contacter</a></li>
           <li><a href="#popupPanel" data-rel="popup" data-transition="slide" data-position-to="window" data-icon="grid">Services</a></li>
         </ul>
       
	</div><!-- /navbar -->
</div>